.style 
{
    font-size: 150px ; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ; 
    text-align: center;
    color: aqua ;
    margin-top: 160px;
}
.body
{
    background-color: rgb(54, 48, 48);
}
